<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>
<p th:if="${person == null}">Эта книга свободна. Кому назначить её?</p>
<p th:if="${person != null}" th:text="'Книга сейчас у: ' + ${person.getName()}">VALUE</p>
<hr/>

<a th:href="@{/books/{id}/edit(id=${book.getBook_id()})}">Редактировать</a>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>